<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
</head>
<body>
    <h1>Cadastro de Alunos</h1>
    <br>
    <br>
    <form>
        Matrícula: <input type="text" name="matricula"><br><br>
        Nome: <input type="text" name="nome_aluno"><br><br>
        Data nascimento: <input type="date" name="nasc_aluno"><br><br>
        Sexo:<br>
        <input type="radio" name="sexo">
        Masculino<br>
        <input type="radio" name="sexo">
        Feminino<br><br>
        <input type="submit" name="submit">
        <input type="reset" name="reset">

    </form>
</body>
</html>